<!-- <div class="floating">
  <div style="margin: 0">
    
  </div>
</div> -->
<div class="map" #map></div>
<!-- <div class="absoluteHeader" (click)="search.focus()" >
  <span class="material-icons"> 
    search
  </span>
  <input #search class="input" type="text" autocomplete="off" placeholder="Obec" (keyup.enter)="onEnter(search.value)">
</div> -->
<div class="absoluteFooter" *ngIf="Error">
  <h2>Chyba</h2>
  <pre style="margin: .5rem; font-size: 1.5rem;">Nemohu najít požadované místo</pre>
</div>
<div class="absoluteFooter" *ngIf="!Error && SelectedPosition">
  <h2>{{SelectedPosition.name}}</h2>
  <div class="covidInfo">
    <p>
      <span class="material-icons">coronavirus</span>
      <span>{{SelectedPosition.abs}}</span>
    </p>
    <p>
      <span class="material-icons">addchart</span>
      <span>+{{SelectedPosition.rel}}</span>
    </p>
  </div>
  <div class="forwardButtonWraper">
    <button mat-raised-button class="forwardButton" (click)="redirectFront()">
      <span>Více informací</span>
      <!-- <span class="material-icons">
        forward
      </span> -->
    </button>
  </div>
</div>
<div class="container">
  <input type="text" placeholder="Search...">
  <div class="search">
    <span class="material-icons">
      search
    </span>
  </div>
</div>
<!-- <div class="absoluteFooter" *ngIf="!Error && !SelectedPosition">
  <h2>Corona search</h2>
  <div class="covidInfo">
    <img src="assets/logo.svg">
  </div>
</div> -->