<!-- <div class="floatingBackgroud">
  <div class="top"></div>
  <div class="bottom"></div>
</div> -->
<div class="floatingContent">
  <!-- <mat-toolbar>
    <div>
      <span class="material-icons">
        android
      </span>
      <span>Ohryzecek</span>
    </div>
    <div>
      <span (click)="search.focus()" class="material-icons" style="font-size: 2rem;">
        search
      </span>
      <input #search class="input" type="text" autocomplete="off" placeholder="Location" [(ngModel)]="value">
    </div>
  </mat-toolbar> -->
  <ng-content></ng-content>
</div>