.mainGraf {
    margin-top: 1rem;
    margin-bottom: .5rem;
    min-height: 150px;
}

.legend {
    padding: .8rem .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
.legend > div {
    font-size: .9rem;
    color: #555;
    display: flex;
    margin: .4rem 0;
}
.legendColor {
    height: 1em;
    width: 1em;
    border-radius: .3em;
    margin-right: .5em;
}

.bigNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    color: #022231;
}
.bigNumber > .bigPart {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bigNumber > .bigPart > .material-icons {
    font-size: 4rem;
    margin-right: .2em;
}
.bigNumber > .smallPart {
    font-size: 1.7rem;
    margin-top: 1.2rem;
    font-weight: 100;
}
.gragName {
    font-size: .95rem;
    color: #555;
    margin-top: .5rem;
}
.infoBig {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    font-size: 1.7rem;
    font-weight: 100;
}
.infoBig > .infoLine {
    height: calc(100% - 2rem);
    margin: 1rem .5rem;
    padding: 0;
    width: 2px;
    background: #ddd;
}  
.infoBig > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem; 
}
.infoBig > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .7rem;
}
.infoBig > div > div > .material-icons {
    margin-right: .5rem;
    font-size: 2.9rem;
    /* font-weight: bold; */
}
.infoBig > .infoBigTitle {
    font-size: 2rem;
}
.moreInfo {
    /* position: relative; */
    display: flex;
    align-items: center;
    margin-top: .7rem;
    color: #777;
}
.moreInfo > .moreInfoText {
    font-size: .9rem;
    text-decoration: underline;
    margin-right: .3rem;
}
.moreInfo > .material-icons {
    font-size: 1.3rem;
}
.moreInfoContent {
    position: absolute;
    padding: 1rem;
    /* box-shadow: 1px 1px 0px 2px #555, 2px 2px 5px #333; */
    box-shadow: 0 6px 12px 0 rgba(75,168,46,0.20), 0 2px 4px 0 rgba(75,168,46,0.27);
    border-bottom: solid 1px #555;
    top: calc(100% - 2rem);
    background: white;
    z-index: 100;
    color: var(--header);
    left: 3rem;
    right: 3rem;
    box-sizing: border-box;
    z-index: 10;
}
.moreInfoContent > h2 {
    font-size: 1.3rem;
    margin: .3rem 0 1rem 0;
}
.moreInfoContent > p {
    font-size: 1rem;
    font-weight: 100;
    margin-left: .8rem;
    padding-left: 1rem;
    border-left: solid 5px var(--yLight);
    margin-bottom: .8rem;
}
.moreInfoContent > p strong {
    font-weight: 500;
    color: var(--header);
}
.moreInfoContentAbsoluteBackgroudn {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    opacity: .5;
    z-index: 1;
}
.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;  
}
/* .moreInfoText:hover::after {
    position: absolute;
    content: 'hallo';
} */

mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--yLight);
    color: #012B3F;
}
mat-toolbar > div {
    display: flex;
    align-items: center; 
    font-size: 1.15rem;
    font-weight: 100;   
}
mat-toolbar > .back {
    border: solid 2px #012B3F;
    border-radius: .4rem;
    padding: .2rem;   
}
mat-toolbar img {
    height: 3.5rem;
    margin-right: .5rem;    
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    margin: 5rem auto 2.5rem auto;
    width: 80%;
    max-width: 60rem;
    color: #ddd;
}
.footerSpaces {
    margin: 1rem 2rem;
    background: var(--yLight);
    width: 2px;
}
.footerContent{
    display: flex;
    flex-direction: column;
}
.footerContent > h2 {
    font-size: 1.5rem;
}
.footerContent > div {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}
.footerContent > div > p {
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0 .3rem;
}
.footerContent > div > p::before {
    content: '>';
    margin-right: .5rem;
    color: var(--yLight);
    font-size: 1.5rem;
}

@media only screen and (max-width: 700px) {
    .infoBig {
        display: flex;
        flex-direction: column;
    }
    .infoBig > .infoLine {
        height: 2px;
        margin: 2rem 1rem;
        width: 100%;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footerSpaces {
        height: 2px;
        margin: 2rem 1rem;
        width: 100%;
    }
}


/* mat-toolbar > div > * {
    margin: 0 .3rem; 
}
.floatingContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.searchIcon {
    color: var(--backgroundSec);
}

.input {
    font-size: 18px;
    padding: 0;
    display: block;
    border: none;
    background: var(--header);
   border-bottom: 1px solid white;
    color: white;
    max-width: 0;
    transition: max-width .75s ease-out;
}
input:focus { 
    outline:none;
    border-bottom: 2px solid white;
    max-width: 1000px;
    padding: 10px 10px 10px 5px;
 } */